CONFIG_CPU_LITTLE_ENDIAN=y
CONFIG_DEBUG_KERNEL=y
CONFIG_JFFS2_FS=y
CONFIG_CRAMFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DEVTMPFS=y
CONFIG_EMBEDDED=y
CONFIG_EXPERT=y
CONFIG_I2C=y
CONFIG_INET=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_MTD_BLKDEVS=y
CONFIG_MTD_BLOCK=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_MTD_M25P80=y
CONFIG_MTD_NAND_ECC=y
CONFIG_MTD_NAND_IDS=y
CONFIG_MTD_NAND_PLATFORM=y
CONFIG_MTD_NAND=y
CONFIG_MTD=y
CONFIG_NET_KEY=y
CONFIG_NET=y
CONFIG_NETDEVICES=y
CONFIG_TUN=y
CONFIG_NLATTR=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_PRINTK_TIME=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=1
CONFIG_SERIAL_8250_RUNTIME_UARTS=1
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_CORE_CONSOLE=y
CONFIG_SERIAL_CORE=y
CONFIG_SPI_BITBANG=y
CONFIG_SPI_MASTER=y
CONFIG_SPI=y
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XZ=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_ZLIB=y
CONFIG_VLAN_8021Q=y
CONFIG_XZ_DEC=y
CONFIG_ZLIB_INFLATE=y
CONFIG_UIO=y
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
# CONFIG_INPUT is not set
# CONFIG_SERIO is not set
# CONFIG_SHMEM is not set
# CONFIG_SUSPEND is not set
# CONFIG_SWAP is not set
# CONFIG_USB_SUPPORT is not set
# CONFIG_VT is not set
# CONFIG_WIRELESS is not set
# CONFIG_IDE is not set
# CPU_R4K_FPU is not set
# CONFIG_RTC_LIB is not set
# CONFIG_CRYPTO is not set
CONFIG_UNION_FS=y
CONFIG_UNION_FS_XATTR=y
CONFIG_UNION_FS_DEBUG=y
